* {
  margin: 0;
  font-family: sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: chartreuse;
  color: white;
  padding: 16px 32px 16px 32px;
}

.list {
  font-size: 24px;
  display: flex;
  gap: 32px;
  list-style-type: none;
  text-decoration: none;
  font-weight: bold;
}

.list a {
  color: aliceblue;
  text-decoration: none;
}

.list a:hover {
  color: gold;
}

.btn-Call {
  background-color: white;
  font-size: 16px;
  padding: 12px 24px 12px 24px;
  border-radius: 10px;
  border: 1px solid black;
  font-weight: bold;
  cursor: pointer;
}

.btn-Call:hover {
  scale: 1.05;
}
